h1 {
  text-align: center;
}

.maingrid {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImage-center {
  margin: 0 auto;
  zoom: 200%;
}

.ionContent {
  --overflow: hidden;
}

ion-card {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin: 0 !important;
  color: black;
  border-radius: 10px;
  opacity: 0.9;
  background: lightgray;
}

.fontsize {
  font-size: small;
  font-style: italic;
}

.checkBox {
  zoom: 70%;
}

ion-icon {
  zoom: 200%;
}

ion-input {
  border-bottom-color: white;
  border-bottom-style: groove;
}
